body {
    font-family: 'Titillium Web', sans-serif;

}

body::-webkit-scrollbar {
    width: 10px;
}

body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.8);
}

body::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 50px rgba(0, 0, 0, 1);
}

#particles-js {
    position: fixed;
    min-width: 100%;
    min-height: 100%;
}

.login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100% !important;
    width: 100% !important;
    position: absolute;
}

.login-box {
    display: inline-block;
    width: 360px;
    height: 375px;
    background: rgba(0, 0, 0, 0.83);
    border-radius: 5px;
    z-index: 999;
    border: 2px solid rgb(0, 0, 0);
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.25);
}

.login-logo-box {
    text-align: center;
}

.login-logo-box > img {
    width: 100px;
    padding: 10px;
    background: #FFF;
    border-radius: 44px;
    margin-top: -50px;
    box-shadow: 0px 10px 25px #000;
}

.input-fields {
    padding: 10px 30px 30px 30px;
}

.login-title {
    color: #FFF;
    margin-bottom: 35px;
    text-align: center;
}

.input-icon-group {
    background: rgba(240, 248, 255, 0);
    color: #FFF;
    border-bottom: 1px solid #FFF;
    border-top: 0px;
    border-left: 0px;
    border-radius: 0px;
    min-width: 38px;
    text-align: center;
}

.user-input-group {
    background: rgba(240, 248, 255, 0);
    border-bottom: 1px solid #FFF;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-radius: 0px;
    color: #FFF;
}

.user-input-group:active,
.user-input-group:focus {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: none;
    border-bottom: 1px solid #FFF;
}

.user-input-fields {
    margin-bottom: 30px;
}

.user-input-group-button {
    background: rgba(0, 0, 0, 0);
    border-radius: 0px;
    border: 1px solid #FFF;
    width: 100%;
    margin-top: 20px;
    color: #FFF;
    padding: 10px;
    font-size: 18px;
}

.user-input-group-button:active, .user-input-group-button:focus, .user-input-group-button:hover {
    background: rgba(0, 0, 0, 0) !important;
    border-radius: 0px;
    border: 1px solid #ffcf00;
    color: #FFF;
}

.user-select-fields {
    width: 100%;
}

.user-select-fields > select {
    width: 100%;
    background: rgba(240, 248, 255, 0);
    border-bottom: 1px solid #FFF;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-radius: 0px;
    color: #FFF;
}

.user-select-fields > select:focus {
    outline: none;
}

.user-select-fields > select option {
    color: #000;
}

.dashboard-container {
    height: 100% !important;
    width: 100% !important;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.dashboard-card {
    background: rgba(0, 0, 0, 0.83);
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.25);
    color: #FFF;
    cursor: pointer;
    border-radius: 5px;
}

.dashboard-card:hover {
    color: #ffcf00;
}

.dashboard-card-top {
    font-size: 100px;
    text-align: center;
    background: rgba(255, 255, 255, 0.15);
    text-shadow: 0px 10px 10px rgba(0, 0, 0, 0.65);
}

.dashboard-card-bottom {
    padding: 20px;
    text-align: center;
}

.analyze-tweets-container {
    padding-top: 45px;
}

.analyze-tweets-panel {
    background: rgba(0, 0, 0, 0.83);
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.25);
    margin-bottom: 20px;
    color: #FFF;
}

.title-con {
    margin-top: -20px;
    margin-bottom: 40px;
}

.section-title {
    background: #ffcf00;
    padding: 20px 25px;
    display: initial;
    margin-top: -28px;
    color: #000000;
}

.back-btn {
    position: fixed;
    left: 0px;
    top: 45px;
}

.back-btn > button {
    background: #ffcf00;
    color: #000;
    font-size: 45px;
    padding: 0px 20px;
    border: 0px;
    border-radius: 0px 10px 10px 0px;
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.19);
    outline: none !important;
}

.back-btn > button:hover, .back-btn > button:active, .back-btn > button:focus {
    background: #ffcf00;
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.19);
    outline: none !important;
}

.analyze-tweets-panel .input-icon-group {
    font-size: 25px;
}

.analyze-tweets-panel .user-input-group {
    padding: 30px;
    font-size: 16px;
}

.analyze-tweets-panel .user-select-fields > select {
    padding: 18px;
}

.analyze-tweets-panel .user-input-group-button {
    margin-top: 14px;
}

.loading-spinner-container {
    background: rgba(0, 0, 0, 0.83);
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.25);
    padding: 20px;
}

.loading-spinner-container .progress {
    margin-bottom: 0px;
}

.loading-spinner-container .progress-bar {
    background-color: #7d7d7d;
}

.analyze-tweets-panel {
    padding: 20px;
}

.analyze-tweets-panel > .pie-chart-box {
    border-radius: 5px;
    padding-left: 0px;
}

.tweets-box {
    max-height: 444px;
    overflow: scroll;
    overflow-x: hidden;
}

.tweets-box::-webkit-scrollbar {
    width: 10px;
}

.tweets-box::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.8);
}

.tweets-box::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 50px rgba(0, 0, 0, 1);
}

.tweets-data {
    padding-right: 0px;
}

.tweets-data h3 {
    padding-left: 10px;
    color: #FFF;
    margin-top: 5px;
    margin-bottom: 25px;
}

.tweet-card {
    padding: 5px;
    background: white;
}

.tweet-card:hover {
    cursor: pointer;
    background: #ffcf00;
}

.tweet-card img {
    height: 100px;
    width: 100px;
}

.tweet-card {
    color: #000;
}

.tweet-card p {
    margin-bottom: 0px;
    margin-top: 5px;
    font-size: 12px;
}

.tweet-profile-image {
    padding: 0px;
}

.analyze-tweets-map {
    padding: 0px;
    height: 350px;
}

.undo-btn {
    cursor: pointer;
    float: right;
}

.title-com {
    color: #FFF;
    margin-top: 5px;
}

.tweet-com-left {
    padding-left: 0px;
}

.tweet-com-right {
    padding-right: 0px;
}

.line-chart-box {
    padding: 0px;
    min-height: 550px;
}

.chart_re_tweets {
    height: 100%;
    width: 100%;
    min-height: 430px;
    margin-top: 20px;
}

.chart_time_eval {
    height: 100%;
    width: 100%;
    min-height: 430px;
    margin-top: 20px;
}

.chart_event_analysis {
    height: 100%;
    width: 100%;
    min-height: 430px;
    margin-top: 20px;
}

.map {
    height: 400px;
    margin: 20px 0;
    border-radius: 5px;
    border: 1px solid silver;
}

.categories {
    list-style: none;
    padding-left: 0px;
}

.categories li {
    float: left;
}

.categories li .checkbox {
    padding: 0px;
    margin-right: 20px;
}

.scroll-pain {
    max-height: 250px;
    overflow-y: scroll;
    padding: 10px 10px 10px 5px;
}

.scroll-pain::-webkit-scrollbar {
    width: 10px;
}

.scroll-pain::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.8);
}

.scroll-pain::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 50px rgba(0, 0, 0, 1);
}

.recent_tweet {
    box-shadow: 0px 0px 10px #cacaca;
    padding: 10px 10px 0px 10px;
    margin-bottom: 10px;
}

.hash_tag {
    float: left;
    font-size: 12px;
    margin-right: 10px;
    margin-bottom: 10px;
}