<div class="dashboard-container" ng-controller="DashboardController">
    <div class="container">
        <div class="col-lg-12">
            <div class="col-lg-3">
                <div class="dashboard-card animated flipInX" ng-click="changeView('analyze-tweets')">
                    <div class="dashboard-card-top">
                        <i class="fa fa-twitter" aria-hidden="true"></i>
                    </div>
                    <div class="dashboard-card-bottom">
                        <h3>Analyze Tweets</h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="dashboard-card animated flipInX" ng-click="changeView('time-evaluation')">
                    <div class="dashboard-card-top">
                        <i class="fa fa-clock-o" aria-hidden="true"></i>
                    </div>
                    <div class="dashboard-card-bottom">
                        <h3>Time Evaluation</h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="dashboard-card animated flipInX" ng-click="changeView('topic-analysis')">
                    <div class="dashboard-card-top">
                        <i class="fa fa-list" aria-hidden="true"></i>
                    </div>
                    <div class="dashboard-card-bottom">
                        <h3>Topic Analysis</h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="dashboard-card animated flipInX" ng-click="changeView('event-analysis')">
                    <div class="dashboard-card-top">
                        <i class="fa fa-calendar-o" aria-hidden="true"></i>
                    </div>
                    <div class="dashboard-card-bottom">
                        <h3>Event Analysis</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>